/* flex helpers */

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sticky {
    position: sticky;
    
    /* 2. Tell it WHERE to stick (the very top) */
    top: 0;
    
    /* 3. Keep it above other content */
    z-index: 1000;
    
    /* 4. Optional: Give it a background so content doesn't bleed through */
    background-color: white;
}
.grid {
    display: grid;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.grid-column {
        grid-auto-flow: column;
    }
}