.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
}



.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sticky {
    position: sticky;


    top: 0;


    z-index: 1000;


    background-color: white;
}

.grid {
    display: grid;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.grid-column {
        grid-auto-flow: column;
    }
}