.main-layout {
    
    display: grid;

    grid-template-columns: 16px 1fr 16px;

    >* {
        &:not(.full) {
            grid-column: 2;
        }

        &.full {
            grid-column: 1 / -1;
        }
    }
}
.cube-grid {
    
    display: grid;
    /* This tells the grid: "Make as many 150px columns as will fit" */
    grid-template-columns: repeat(4, 1fr);

    gap: 20px; /* The space between the cubes */
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
}

.cube {
    /* Makes them perfect squares like your drawing */
    aspect-ratio: 1 / 1;
    
    /* Styling to match the drawing */
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
    background-image: url('/img/ball.png');
    background-repeat: no-repeat;
    background-position: center;
    
   
    background-size: contain;
}
.editor-layout {
     
    display: grid;

    grid-template-columns: 1fr 1fr;

}
.display-meme {
    display: grid;
    place-items: center; 
    padding: 20px;      
    background-color: #f0f0f0; 
}

.display-meme img {
    max-width: 100%;    
    max-height: 80vh;  
    object-fit: contain; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}