.meme-text {
    position: absolute;
    z-index: 10; 
}
.display-meme {
    position: relative;
    display: inline-block; 
}
.meme-text {
    pointer-events: auto; 
    cursor: text;
}
.editor-ui {
    button {
        background-color:rgb(255, 177, 75);
        border: 1px solid #ff0000;
        width: 50px;        
        height: 50px;              
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
    }
}
.img-select-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block; 
    width: 100%;    
}

.img-select-btn img {
    display: block;
    width: 100%;    
    height: auto;
}