

/* .grid-item {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.grid-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
} */
.logo {
    margin-left: 50px;
    font-family: Phanto, sans-serif;
    font-size: 2.5em;
}