.headernav{
    >ul {

       

        a {
            display: grid;
            place-items: center;
            width: 135px;
            aspect-ratio: 1 / 1;
            font-family: Nuevo;
            color:  var(--clr-primary--header);
            text-decoration: none;
            

           
        }
    }
}